@charset "utf-8";
@import  url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import "normalize.css";
@import "font-awesome.min.css";

/* dark blue: rgb(18, 43, 59) */
/* white: rgb(255, 246, 228) */

body {
  background: rgba(255, 246, 228, .2);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em; }

a {
  -webkit-transition:color 0.3s, border-color 0.5s;
  -moz-transition:color 0.3s, border-color 0.5s;
  -o-transition:color 0.3s, border-color 0.5s;
  transition:color 0.3s, border-color 0.5s;
  text-decoration:none; }

blockquote {
  border-left: 4px solid #122b3b;
  font-family: serif;
  font-style: italic;
  font-size: .9em;
  padding-left: 20px;
  margin: 20px;
  margin-left: -10px; }

aside h1 {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  margin: 10px 0 20px; }
aside h1 a {
  color: rgb(255, 246, 228); }
aside a {
  border-bottom: 2px solid;
  border-color: #122b3b;
  color: rgba(255, 246, 228, 0.8); }
aside h1 a:visited, aside a:visited {
  color: rgba(255, 246, 228, .4); }
aside h1 a:focus, aside a:focus {
  color: rgba(255, 246, 228, .9); }
aside h1 a:hover, aside a:hover {
  color: rgba(255, 246, 228, .9);
  border-color: rgba(255, 246, 228, .7); }
aside h1 a:active, aside a:active {
  color: rgba(255, 246, 228, .9); }
aside div {
  }

h2 {
  margin: 5px 0 15px; }

div#main, article {
  text-align: left;
  width: 100%; }

article h1, article h2, article h3, article h4, article h5, article h6, article p, article ol, article ul, article table, article blockquote, article div, article pre code, #disqus_thread {
  max-width: 670px;
  margin: 20px auto; }

article pre code {
  display: block;
  overflow-x: auto; }
article .date {
  margin: 20px auto 10px; }
article :not(pre) code {
  color: rgb(18, 43, 59);
  background-color: rgba(18, 43, 59, .1);
  padding: 1px 2px;
}
article .subtitle, article h1, article h2, article h3 {
  margin: 10px auto 20px; }

aside {
  color: rgb(255, 246, 228);
  position: relative;
  margin-top: 0px;
  width: 100%;
  height: inherit;
  padding: 8px;
  text-align: center;
  background-color: #122b3b;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #122b3b;
  border-bottom: 2px solid rgba(255, 246, 228, .2); }
article p a {
  border-bottom: 2px solid rgba(215,215,215, 0.9); }
a:visited {
  color: #122b3b; }
a:focus {
  color: #122b3b; }
a:hover {
  color: #122b3b;
  border-color: #122b3b; }
a:active {
  color: #122b3b; }

div.date {
  text-align: left;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bold;
  color: rgba(0, 0, 0, .6); }

div#menu {
  margin: 20px auto 10px; }

div#menu li:not(:last-child):after {
  color: rgb(255, 246, 228);
  content:' ⋅'; }

ul.flat-ul {
  list-style-type: none;
  display: inline-block;
  margin: 0 auto;
  padding: 0 }

ul.flat-ul li {
  float: left;
  font-weight: bold;
  font-size: 16px;
  padding: 0 8px 0 0; }

#social img {
  -webkit-filter: invert(50%);
  -moz-filter: invert(50%);
  -o-filter: invert(50%);
  filter: invert(50%);
  -webkit-transition: filter .3s;
  -moz-transition: filter .3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s; }
#social img:hover {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  filter: invert(100%); }
#social a {
  border: 0; }

#search {
  width: 140px;
  position: relative;
  left: -24px;
  margin: 5px auto; }

#search label {
  display:none; }

#search input[type="text"] {
  border: none;
  outline: none;
  background-color: rgba(18, 43, 59, .2);
  width: 100%;
  height: 18px;
  margin: 0;
  z-index: 10;
  padding: 8px;
  padding-right: 34px;
  font-family: inherit;
  font-size: 14px;
  border: 1px solid rgba(18, 43, 59, .3);
  color: #122b3b; }

#search input[type="text"]:focus {
  background-color: rgba(18, 43, 59, .05); }

#search input[type="submit"], #search .fa-search {
  position: absolute;
  right: -34px;
  top: 0;
  width: 34px;
  height: 34px;
  padding: 0;
  margin: 0; }

#search input[type="submit"] {
    z-index: 90;
    background: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
}

#search .fa-search {
  display: block;
  color: #122b3b;
  z-index: 11;
  font-size: 12px;
  line-height: 34px;
  text-align: center;
  cursor: pointer; }

a.button {
  padding: 4px 6px;
  -webkit-transition:border 0.2s, background-color 0.2s;
  -moz-transition:border 0.2s, background-color 0.2s;
  -o-transition:border 0.2s, background-color 0.2s;
  transition:border 0.2s, background-color 0.2s;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 3px; }

a.button:visited {
  border: 1px solid rgba(0, 0, 0, .2); }
a.button:focus {
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid rgba(0, 0, 0, .6); }
a.button:hover {
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid rgba(0, 0, 0, .6); }
a.button:active {
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid rgba(0, 0, 0, .6); }


.rounded-circle {
  border-radius: 50% !important; }

.rounded-5 {
  border: 6px solid rgba(0, 0, 0, .2);
  border-radius: 5% !important; }

.welcome .logo {
  display: none;
  background-image: url('https://avatars0.githubusercontent.com/u/904193?v=3&s=460');
  background-size: contain;
  margin: 10px auto; }

.welcome .logo a {
  display: block;
  width: 100%;
  height: 100%; }

.welcome .summary {
  margin: 10px auto 20px;
  width: 70%; }

.subtitle {
  font-family: serif;
  font-style: italic;
  font-size: 0.9em; }

.big-screen {
  display: none }

.highlight {
  padding: 10px; }

/* Common style for pseudo-elements */
.article-excerpt {
  position: relative;
  padding-bottom: 80px;
}
.ss::before,
.ss::after {
  position: absolute;
  content: '';
  pointer-events: none; }

.article-excerpt:not(:last-child) .style-dots::before {
  bottom: 45px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(18, 43, 59, .8);
  box-shadow: 30px 0 rgba(18, 43, 59, .6), -30px 0 rgba(18, 43, 59, .6); }

/* Double Line */
.article-excerpt:last-child .style-dots::before {
  bottom: 20px;
  width: 140px;
  height: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(18, 43, 59, .8); }

.pagination {
  position: relative; }

.pagination {
  max-width: 670px;
  margin:0 auto;
  text-align: center; }
.pagination p {
  width: 33%; }
.pagination .left {
  float: left; }
.pagination .center {
  float: left; }
.pagination .right {
  float:right; }

#footer {
  font-style: italic;
  font-size: .90em; }

#wave {
  width: 40px;
  margin: 0 auto;
  transition: all 0.3s ease-out; }
#wave:hover {
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

@media screen and (max-width: 710px) {
article h1, article h2, article h3, article h4, article h5, article h6, article p, article ol, article ul, article table, article blockquote, article div, article pre code, #disqus_thread {
    padding: 0px 20px; }
}

@media screen and (min-width: 1024px) {
aside {
  /* position: fixed; */
  z-index: 1000;
  top: 0; }

div#main {
  /* margin-top: 160px; */
}

/* .welcome .logo { */
/*   display: block; */
/*   width: 128px; */
/*   height: 128px; } */

/* .big-screen { */
/*   display: block; } */
}
