<!doctype html>
<html>
  <%= partial :head %>

  <body class="<%= page_classes %>">
    <%= partial :sidebar %>

    <article id="main" role="main">
      <%= yield %>
    </article>
  </body>
</html>
