<aside>
  <div class="welcome">
    <div class="logo rounded-circle">
      <a href="/"></a>
    </div>
    <h1><a href="/">Paul Bonaud</a></h1>
    <div class="summary subtitle">
      Passionate about code, challenges and automated systems
    </div>
  </div><!-- .welcome -->

  <div id="menu">
    <ul class="flat-ul">
      <li><a href="/">Home</a></li>
      <li><a href="#">Surprise</a></li>
      <li><a href="/about.html">About Me</a></li>
    </ul>
  </div>

  <div id="social">
    <ul class="flat-ul">
      <li><a href="https://twitter.com/paulrb_r"><img src="/images/twitter.png" alt="twitter logo"/></a></li>
      <li><a href="https://pgp.mit.edu/pks/lookup?search=paul+bonaud&op=index"><img src="/images/mail.png" alt="email"/></a></li>
      <li><a href="https://github.com/paulrbr"><img src="/images/github.png" alt="github logo"/></a></li>
      <li><a href="http://hub.docker.com/u/swcc/"><img src="/images/docker.png" alt="docker logo"/></a></li>
    </ul>
  </div>

  <div class="row big-screen">
    <h2>Find me on</h2>
    <ul class="flat-ul">
      <li><a alt="Github" href="https://github.com/paulrbr"><img src="<%= image_path('github.png') %>" class="icon"/></a></li>
      <li><a alt="Twitter" href="https://twitter.com/paulrb_r"> <img src="<%= image_path('twitter.png') %>" class="icon"/></a></li>
      <li><a alt="PGP" href="https://pgp.mit.edu/pks/lookup?search=paul+bonaud&op=index"><img src="<%= image_path('mail.png') %>" class="icon"/></a></li>
      <li><a alt="docker" href="https://hub.docker.com/u/swcc/"><img src="<%= image_path('docker.png') %>" class="icon"/></a></li>
    </ul>
  </div>
</aside>
