<aside>
  <div class="welcome">
    <h1><a href="/">Paul Bonaud</a></h1>
    <div class="summary subtitle">
      Passionate about code, challenges and automated systems
    </div>
  </div><!-- .welcome -->

  <div id="menu">
    <ul class="flat-ul">
      <li><a href="/">Blog</a></li>
      <li><a href="/talks.html">Talks</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/cv.pdf" target="_blank">Resume</a></li>
    </ul>
  </div>

  <div id="social">
    <ul class="flat-ul">
      <li><a href="https://mastodon.social/@paulrbr"><img src="/images/mastodon.svg" alt="mastodon" class="svg"/></a></li>
      <li><a href="https://twitter.com/paulrb_r"><img src="/images/twitter.svg" alt="twitter" class="svg"/></a></li>
      <li><a href="https://pgp.mit.edu/pks/lookup?search=paul+bonaud&op=index"><img src="/images/mail.png" alt="email"/></a></li>
      <li><a href="https://gitlab.com/paulrbr"><img src="/images/gitlab.svg" alt="gitlab" class="svg"/></a></li>
      <li><a href="https://github.com/paulrbr"><img src="/images/github.svg" alt="github" class="svg"/></a></li>
    </ul>
  </div>
</aside>
