---
title: About me, Paul Bonaud, software engineer
---
<h2>Hello!</h2>

<p>
  I am a <em>software developer</em>. That means I really like to code.
</p>

<p>
  But that’s not all. Indeed I am also interested in the systems that actually run other people’s code. Most of the time that’s actually code which is running code, right? Well it’s what I like: being part of the <em>operational side</em> of software engineering.
</p>

<p>
  As a professional I love to embrace <em>good practices</em> to make the development process as smooth and confortable as possible for humans and teams. That is usually done by listening a lot and sharing my experiences with others.
</p>

<p>
  My secret dream, not so secret, is to have <em>more bikes</em> in our cities. So I <a href="https://www.strava.com/athletes/13396697">commute by bike</a> as much as I can.
</p>

<p>
<em>Climbing</em> is undoubtedly my favourite sport. Probably because it is not only a sport but also a hobbie, a state of mind, a way to get adventurous, a way to share good time with people. It is a great way to <a href="http://climbing.ilooove.it/page/paul-bonaud-1636">get away from the keyboard</a>.
</p>
