---
title: Hello! I'm Paul! 
---

<div class="welcome">
  <h1>PaulRbR's middleman pages</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->